.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--background1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

:root{
    --main-color: rgb(214, 214, 214);
    --background1: #585858;
    --background2: #333333;
}